code{
  background: rgba(var(--color-secondary-900), 0.3);
  border-radius: 0.3rem;
  padding:0.25rem;
}
.prose :where(blockquote):not(:where([class~=not-prose],[class~=not-prose] *)){
  font-style: normal;

}

p::before, p::after, code::after, code::before{
  display: none;
}

#TableOfContents > ul > li:last-child a:last-child{
  background: rgba(var(--color-primary-500), 0.3);
  border-radius: 0.3rem;
  padding:0.6rem;
}
