<article class="prose max-w-full dark:prose-invert">
  <section>
  {{ with .GetPage "home" }}
    {{ .Content | emojify }}
  {{ end }}
  </section>

  <section>{{ .Content | emojify }}</section>
</article>

<section>
  {{ partial "recent-articles.html" . }}
</section>