<details open class="-ms-5 mt-0 overflow-hidden rounded-lg ps-5">
  <div class="-ms-5 border-s border-dotted border-neutral-300 py-2 ps-5 dark:border-neutral-600">
    {{ .TableOfContents | emojify }}
  </div>
</details>